* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 0;
}

.page {
    display: flex;
    height: 100vh;
    width: 100%;
}


.home-content {
    display: flex;
    flex: 7;
    overflow: auto;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #283691;
    padding: 6px 14px;
    z-index: 2;
}

.logo_name {
    display: flex;
    width: 100%;
    color: white;
    font-size: 1.6rem;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5rem;
}

.logo_bar {
    display: flex;
    flex-direction: column;
}

.logo_img {
    display: flex;
    max-width: 20rem;
    max-height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    .logo_img img {
        width: 100%;
        height: 100%;
    }

.sidebar ul {
    margin-top: 20px;
    padding-inline-start: 0px;
}

    .sidebar ul li {
        position: relative;
        height: 50px;
        width: 100%;
        margin: 0 5px;
        list-style: none;
        line-height: 50px;
    }

        .sidebar ul li .tooltip {
            position: absolute;
            left: 122px;
            top: 0;
            transform: translateY(-50%);
            border-radius: 6px;
            height: 35px;
            width: 122px;
            background: #fff;
            line-height: 35px;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: 0s;
            opacity: 0;
            pointer-events: none;
            display: none;
        }

        .sidebar ul li:hover .tooltip {
            transition: all 0.5s ease;
            top: 100%;
            opacity: 1;
        }

        .sidebar ul li a {
            display: flex;
            margin-left: 10px;
            color: rgb(255, 255, 255);
            align-items: center;
            text-decoration: none;
            border-radius: 12px;
            transition: all 0.2s ease;
            white-space: nowrap;
        }

            .sidebar ul li a:hover {
                color: #11101d;
                background-color: rgba(255, 255, 255, 0.205);
            }

        .sidebar ul li #icon {
            height: 50px;
            min-width: 50px;
        }

.sidebar .links_name {
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.profile_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100%;
    align-items: end;
}

.name {
    display: flex;
    flex: 3;
    margin-bottom: 0.3rem;
}

.logout {
    display: flex;
    flex: 1.5;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 2rem;
    justify-content: center;
}

#logout {
    color: white;
}


.waves {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    height: fit-content;
    left: 0;
    right: 0
}

.form-part {
    display: flex;
    flex: 1;
    justify-content: center;
    z-index: 2;
    max-width: 50%;
    border: 1px solid rgb(14 36 76);
    box-shadow: 10px 10px 5px #ccc;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
}

.request-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 1rem 0;
}

.request-list {
    display: flex;
    flex: 1;
    max-width: 60%;
    height: 100%;
    border: 3px solid rgb(239, 169, 34);
    ;
    border-radius: 20px;
}

.dorm-type-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.dorm-type-list {
    display: flex;
    flex: 1;
    max-width: 60%;
    height: 100%;
    border: 3px solid rgb(239, 169, 34);
    border-radius: 20px;
}

.dorm-room-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.dorm-room-list {
    display: flex;
    flex: 1;
    max-width: 60%;
    height: 100%;
    border: 3px solid rgb(239, 169, 34);
    border-radius: 20px;
}

.description-part {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-height: 10rem;
    margin-bottom: 1rem;
}

.description {
    max-width: 60%;
    max-height: 100%;
    word-wrap: break-all;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 2px solid rgb(239, 169, 34);
}

.button-part {
    display: flex;
    flex: 1;
    max-height: 50px;
    max-width: 60%;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.btn-hover {
    width: 5rem;
    height: 2rem;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #efa922, #efa922, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus {
        outline: none;
    }

.footer-img {
    display: flex;
    flex: 1;
    z-index: 1;
}
