@{
    ViewData["Title"] = "Admin Yurt Seçenekler";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yurt Seçenekleri </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Admin_yurt_secenekler.css" />
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="logo_bar">
               <div class="logo_img"><img src="/img/iu_logo-beyaz.png"></div>
               <div class="logo_name">Dormitory Application</div> 
            </div>
            
            <ul class="nav_list">
                <li>
                    <a href="/Home/Admin_yurt_secenekler">
                        <span class="links_name">Yurt Seçenekleri</span>
                    </a>
                    <span class="tooltip">Yurt Seçenekleri</span>
                </li>
                <li>
                    <a href="/Home/Admin_oda">
                        <span class="links_name">Oda Seçenekleri</span>
                    </a>
                    <span class="tooltip">Oda Seçenekleri</span>
                </li>
                <li>
                    <a href="/Home/Admin_talepler">
                        <span class="links_name">Talepleri Görüntüle</span>
                    </a>
                    <span class="tooltip">Talepleri Görüntüle</span>
                </li>
            </ul>
            <div class="profile_content">
                <div class="name">Mert Berkan Akdeniz</div>
                <div class="logout"><a href="/Home/Giris" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
        </div>
        <div class="home_content">
            <form class="oda_sil" action="/Home/Delete_Dorm" method="POST">
            <div class="home1">
                <div class="yurtlar" id="mavi">
                    <div class="headerr"><h1>Yurt Sil</h1></div>
                    
                    <ul class="responsive-table" style="overflow: auto; max-height: 30rem;">
                        <li class="table-header">
                          <div class="col col-2">Yurt Id</div>
                          <div class="col col-3">Yurt Tipi</div>
                          <div class="col col-3">Detay</div>
                          <div class="col col-3">Fiyat</div>
                          <div class="col col-5">Seç</div>
                        </li>
                        @model IEnumerable<DormType>
                         @foreach (var item in Model)
                          {
                          <li class="table-row">
                          <div class="col col-2" name= "DormTypeId"data-label="yurt_id">@item.Id</div> 
                          <div class="col col-3" name= "DormTypeName"data-label="yurt">@item.Name</div>
                          <div class="col col-3" name= "DormTypeDesc"data-label="yurt">@item.Description</div>
                          <div class="col col-3" name= "DormTypePrice"data-label="yurt">@item.Price</div>
                          <a class="btn" href="/Home/DeleteDorm/@item.Id">Sil</a>
                          </li>
                       }
                      </ul>
                      
                </div>
            </div>
        </form>

        <form class="oda_ekle" action="/Home/Add_DormType" method="POST">
            <div class="home2">
                <h1>Yurt Ekle</h1>
                <div class="input-div one">
                    <input class="input" name ="Name" placeholder="Yurt İsmi" type="text">
                </div>
                <div class="input-div one">
                    <input class="input" name ="Description" placeholder="Detay" type="text">
                </div>
                <div class="input-div one">
                    <input class="input" name ="Price" placeholder="Fiyat" type="number">
                </div>
                <div class="input-div one">
                    <input class="input" name ="Gender" placeholder="Cinsiyet" type="text">
                </div>
                <div class="sbmt_bt2">
                    <input type="submit" class="btn2" value="EKLE">  
                </div>
            </div>
        </form>

        </div>
    </div>
</body>
</html>