@{
    ViewData["Title"] = "Admin Talep Detay";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oda Seçenekleri </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="logo_bar">
               <div class="logo_img"><img src="/img/iu_logo-beyaz.png"></div>
               <div class="logo_name">Dormitory Application</div> 
            </div>
            
            <ul class="nav_list">
                <li>
                    <a href="/Home/Admin_yurt_secenekler">
                        <span class="links_name">Yurt Seçenekleri</span>
                    </a>
                    <span class="tooltip">Yurt Seçenekleri</span>
                </li>
                <li>
                    <a href="/Home/Admin_oda">
                        <span class="links_name">Oda Seçenekleri</span>
                    </a>
                    <span class="tooltip">Oda Seçenekleri</span>
                </li>
                <li>
                    <a href="/Home/Admin_talepler">
                        <span class="links_name">Talepleri Görüntüle</span>
                    </a>
                    <span class="tooltip">Talepleri Görüntüle</span>
                </li>
            </ul>
            <div class="profile_content">
                <div class="name">Mert Berkan Akdeniz</div>
                <div class="logout"><a href="/Home/Giris" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
        </div>
        <div class="home_content">
            
            <div class="back-nav">
               <div><a href="/Home/Admin_talepler" id="geridon" style="color: black;"><i class="fa fa-chevron-left" style="font-size:20px"></i></a></div> 
               <div style="margin-left: 1rem;"><h4>Geri dön</h4></div>
            </div>
            <div class="detail">
            <div class="row-content one">
                <h3>Oda: </h3>
                <p>A paragraph of text with an</p>
            </div>
            <div class="row-content two">
                <h3>Yurt Tipi: </h3>
                <p>A paragraph of text with an</p>
            </div>
            <div class="row-content three">
                <h3>Talep Tipi: </h3>
                <p>A paragraph of text with an</p>
            </div>
            <div class="row-content three">
                <h3>Talep: </h3>
                <div class="parag">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel dictum 
                    leo. Praesent pellentesque eros ac lacus commodo elementum. Morbi 
                    viverra posuere felis sed ultricies. Mauris mattis vulputate est vel placerat. 
                    Aliquam erat volutpat. Donec nec dictum eros. Sed nisi ligula, viverra ut 
                    ligula fnibus, tempus ultrices libero. Mauris consequat risus ut risus 
                    pulvinar, a accumsan dui semper. Nullam cursus arcu velit, at commodo 
                    metus gravida nec. Nulla facilisi. Sed suscipit mi erat, eu eleifend nibh 
                    congue vitae. Sed nunc lectus, volutpat ornare justo vel, molestie efcitur 
                    arcu. Vivamus felis mi, varius et sem a, volutpat pulvinar justo. Etiam 
                    lobortis.
                    </p>
                </div>
                
            </div>


        </div>

           </div> 
        
    </div>
</body>
</html>