@{
    ViewData["Title"] = "Yurt Başvurusu";
    
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/Dorm_apply.css" />

    <title>Yurt Başvurusu</title>
</head>

<body>
    <div class="page">
        <div class="sidebar">
            <div class="logo_bar">
               <div class="logo_img"><img src="/img/iu_logo-beyaz.png"></div>
               <div class="logo_name">Dormitory Application</div> 
            </div>
            
            <ul class="nav_list">
          <li>
            <a href="/Home/Index">
              <span class="links_name">Anasayfa</span>
            </a>
            <span class="tooltip">Anasayfa</span>
          </li>
          <li>
            <a href="/Home/Dorm_apply">
              <span class="links_name">Yurt Başvurusu</span>
            </a>
            <span class="tooltip">Yurt Başvurusu</span>
          </li>
          <li>
            <a href="/Home/Talepler">
              <span class="links_name">Talep</span>
            </a>
            <span class="tooltip">Talep</span>
          </li>
          <li>
            <a href="/Home/Odeme">
              <span class="links_name">Ödemeler</span>
            </a>
            <span class="tooltip">Ödemeler</span>
          </li>
          <li>
            <a href="/Home/Profile">
              <span class="links_name">Profilim</span>
            </a>
            <span class="tooltip">Profilim</span>
          </li>
        </ul>
            <div class="profile_content">
                <div class="name">Mert Berkan Akdeniz</div>
                <div class="logout"><a href="/Home/Giris" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
        </div>

        <div class="home-content">
            <h1 style="margin: 0 auto; margin-bottom: 2rem;">Yurt Başvurusu</h1>
            <div class="option">
                <select class="request-list" onChange="val2()" id="select_id2">
                    <option value="" disabled selected>Yurt Listesi</option>
                    <option value=1>Mavi</option>
                    <option value=2>Bordo</option>
                    <option value=3>Turuncu</option>
                </select>
                
            </div>
            <div class="form-part">
                
                    <div class="home1">
                        <div class="yurtlar" id="mavi">
                            <ul class="responsive-table" style="overflow: auto; max-height: 30rem;">
                                <li class="table-header">
                                    <div class="col col-1">Oda Numarası</div>
                                    <div class="col col-2">Kapasite</div>
                                    <div class="col col-3">Kalan Kapasite</div>
                                    <div class="col col-4">Oda Arkadaşı</div>
                                    <div class="col col-5">Seç</div>
                                </li>
                                @model IEnumerable<AllDorms>
                                @foreach (var item in Model)
                                {
                                        <li class="table-row">
                                        <div class="col col-1" id="DormNo" name="DormNo" data-label="Oda Numarası">@item.DormNo</div>
                                        <div class="col col-2" data-label="Kapasite">@item.Capacity</div>
                                        <div class="col col-3" data-label="Kalan Kapasite">@item.RemainingCapacity</div>
                                        <div class="col col-4" data-label="Oda Arkadaşı">@item.RoomMate</div>
                                        <a class="btn" href="/Home/ChooseDorm/@item.Id">Seç</a>
                                        </li> 
                                }
                                
                                
                            </ul>

                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
</body>

</html>