@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Profilim</title>
  </head>
  <body>
    <div class="page">
      <div class="sidebar">
        <div class="logo_bar">
          <div class="logo_img">
            <img src="/img/iu_logo-beyaz.png" />
          </div>
          <div class="logo_name">Dormitory Application</div>
        </div>

        <ul class="nav_list">
          <li>
            <a href="/Home/Index">
              <span class="links_name">Anasayfa</span>
            </a>
            <span class="tooltip">Anasayfa</span>
          </li>
          <li>
            <a href="/Home/Dorm_apply">
              <span class="links_name">Yurt Başvurusu</span>
            </a>
            <span class="tooltip">Yurt Başvurusu</span>
          </li>
          <li>
            <a href="/Home/Talepler">
              <span class="links_name">Talep</span>
            </a>
            <span class="tooltip">Talep</span>
          </li>
          <li>
            <a href="/Home/Odeme">
              <span class="links_name">Ödemeler</span>
            </a>
            <span class="tooltip">Ödemeler</span>
          </li>
          <li>
            <a href="/Home/Profile">
              <span class="links_name">Profilim</span>
            </a>
            <span class="tooltip">Profilim</span>
          </li>
        </ul>
        <div class="profile_content">
          <div class="name">Mert Berkan Akdeniz</div>
          <div class="logout">
            <a href="../views/giris.html" id="logout"
              ><i class="fa fa-sign-out" style="font-size: 20px"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="home-content">
        <div class="user-detail-part">
          <h2 class="header">Kullanıcı Bilgilerim</h2>
          <form action="" class="user-form">
              <div class="user-form-detail">
                <div class="user-form-left">
                    <div class="user-form-row">
                        <label>İsim</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          value="Mert Berkan"
                          disabled
                          class="user-input"
                        />
                      </div>
                      <div class="user-form-row">
                          <label>Soyisim</label>
                          <input
                            type="text"
                            name="surname"
                            id="surname"
                            value="mert.akdeniz@isik.edu.tr"
                            disabled
                            class="user-input"
                          />
                        </div>
                        <div class="user-form-row">
                          <label>Email</label>
                          <input
                            type="text"
                            name="email"
                            id="email"
                            value="mert.akdeniz@isik.edu.tr"
                            disabled
                            class="user-input"
                          />
                        </div>
                        <div class="user-form-row">
                          <label>Okul Numarası</label>
                          <input
                            type="text"
                            name="schoolId"
                            id="schoolId"
                            value="217CS2014"
                            disabled
                            class="user-input"
                          />
                        </div>
                  </div>
                  <div class="user-form-right">
                    <div class="user-form-row">
                        <label>Şifre</label>
                        <input
                          type="password"
                          name="password"
                          id="passowrd"
                          class="user-input"
                        />
                      </div>
                      <div class="user-form-row">
                          <label>Şifre Onay</label>
                          <input
                            type="password"
                            name="passwordConfirm"
                            id="passwordConfirm"
                            class="user-input"
                          />
                        </div>
                        <div class="user-form-row">
                          <label>Yurt Tipi</label>
                          <input
                            type="text"
                            name="dormType"
                            id="dormType"
                            value="Turuncu"
                            disabled
                            class="user-input"
                          />
                        </div>
                        <div class="user-form-row">
                          <label>Oda Numarası</label>
                          <input
                            type="text"
                            name="dormNo"
                            id="dormNo"
                            value="DZ10"
                            disabled
                            class="user-input"
                          />
                        </div>
                  </div>
              </div>
              <div class="user-form-button-part">
                  <button class="submit-button" type="submit">Güncelle</button>
              </div>
          </form>
        </div>
        <div class="form-part">
          <h2 class="header">Taleplerim</h2>
          <form class="oda_sil">
            <div class="home1">
              <div class="yurtlar" id="mavi">
                <ul
                  class="responsive-table"
                  style="overflow: scroll; max-height: 30rem"
                >
                  <li class="table-header">
                    <div class="col col-1">Talep Tipi</div>
                    <div class="col col-2">Talep Sonucu</div>
                    <div class="col col-3">Seç</div>
                  </li>
                  <li class="table-row">
                    <div class="col col-1" data-label="Talep Tipi">Gürültü</div>
                    <div class="col col-2 center" data-label="Talep Sonucu">Bekleniyor</div>
                    <button type="submit" class="btn">Seç</button>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  </body>
</html>