@{
    ViewData["Title"] = "Kayıt Ol";
}
<!DOCTYPE html>
<html>

<head>
    <title>Kayıt Ol</title>
</head>

<body>
    <div class="container">
        <div class="top-part">
            <div class="h1">Kayıt Ol</div>
            <div class="logo-part">
                <img class="logo" src="/img/mesale.png" />
            </div>
        </div>
        <div class="body-part">
            <div class="body-img-part">
                <img class="img" src="/img/register.svg" />
            </div>

            <div class="detail-part">
                <form action="/Home/Giris">
                    <h2>Hoşgeldiniz</h2>
                    <div class="input-div one">
                        <input class="input" placeholder="İsim" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" placeholder="Soyisim" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" placeholder="E-mail" type="email" />
                    </div>
                    <div class="input-div one">
                        <input class="input" placeholder="Okul Numarası" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" placeholder="Şifreniz" type="password" />
                    </div>
                    <div class="input-div two">
                        <input class="input" placeholder="Şifre Tekrar" type="password" />
                    </div>
                    <input type="submit" class="btn" value="Üye Ol" />
                </form>
            </div>
        </div>
        <div class="footer-part">
            <img class="waves" src="/img/wave.png">
        </div>
    </div>
</body>

</html>