@{
    ViewData["Title"] = "Kayıt Ol";
}
<!DOCTYPE html>
<html>

<head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="~/css/Register.css" />
</head>

<body>
    <div class="container">
        <div class="top-part">
            <div class="h1">Kayıt Ol</div>
            <div class="logo-part">
                <img class="logo" src="/img/mesale.png" />
            </div>
        </div>
        <div class="body-part">
            <div class="body-img-part">
                <img class="img" src="/img/register.svg" />
            </div>

            <div class="detail-part">
                <form style="display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        max-width: 40%;" action="/Home/Register" method="POST">
                    <h2>Hoşgeldiniz</h2>
                    <div class="input-div one">
                        <input class="input" name="Name" placeholder="İsim" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" name="Lname" placeholder="Soyisim" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" name="Gender" placeholder="Cinsiyet" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" name="Email" placeholder="E-mail" type="email" />
                    </div>
                    <div class="input-div one">
                        <input class="input" name="SchoolId" placeholder="Okul Numarası" type="text" />
                    </div>
                    <div class="input-div one">
                        <input class="input" name="Password" placeholder="Şifreniz" type="password" />
                    </div>
                    <div class="input-div two">
                        <input class="input" name="Password2" placeholder="Şifre Tekrar" type="password" />
                    </div>
                    <input type="submit" class="btn" value="Üye Ol" />
                </form>
            </div>
        </div>
        <div class="footer-part">
            <img class="waves" src="/img/wave.png">
        </div>
    </div>
</body>

</html>