@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Yurt Başvuru Sistemi</title>
        <link rel="stylesheet" href="~/css/Sifreunuttum.css" />
    </head>
<body>

<img class="waves" src="/img/wave.png" >
<div class="container">
    <div class="logo">
        <h1>Yurt Başvuru Sistemi</h1>
        <img class="mesale" src="/img/mesale.png">

    </div>
<div class="genel">
    <div>
        <img class="dorm" src="/img/dorm.png">

    </div>
    
<div class="login-container"> 
    <form action="/Home/Giris">
        <h2>Şifre Yenileme</h2>
        <div class="input-div one">
            <input class="input" placeholder="E-mail" type="email">
        </div>
        <input type="submit" class="btn" value="GÖNDER">
    </form>
</div>

</div>

</div>


</body>

</html>